<div class="pt-top">
   <div class="page-wrap page-wrap_report">
      <div class="page-wrap__wrap">
         <div class="post-bl" style="position: relative; display: block" >
            <div class="post-bl__main-request">
               <div class="post-text">
                  <div class="post-text__head">
                     <div class="vin-info">
                        <div class="vin-info__left">
                           <b class="vin-rc" id="c_balance">
                           BALANCE: 35.874 ether
                           </b>
                        </div>
                     </div>
                     <div class="vin-info">
                        <div class="vin-info__left">
                           <b class="vin-rc">
                           REQUESTS TODAY: 15000
                           </b>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <form id="check-head" _lpchecked="1" ng-submit="changePermission(address, allowDisallow)">
            <input type="number" id="changePermission_allowDisallow" ng-model="allowDisallow" style="display: none">
            <div class="form-search" id="snap_vin_searh">
               <span class="ic-info__title">
                  Manage contractor access
               </span>
               <div class="form-search__wrap">
                  <div class="search-block">
                     <div class="search-block__rel search-block__rel_active" data-rel="GRZ">
                        <input type="text" class="search-block__field-search js-gos" placeholder="Address" value="" maxlength="44" id="form31622adr2" ng-model="address">
                     </div>
                  </div>
               </div>
            </div>
            <span class="ic-info__title">
                  Record Type
            </span>
            <div class="search-block">
               <div class="drop">
                  <div class="valign"><b id="access_id">Allow</b></div>
                  <a href="#" class="drop-list"><i class="fa fa-caret-down"></i></a>
                  <span class="filter-button">
                  <a href="">Allow</a>
                  <a href="">Disallow</a>
                  </span>
               </div>
               <button type="submit" class="search-block__btn-search"><span>Submit</span></button>
            </div>
         </form>
      </div>
   </div>
</div>
 <!-- <script src="./files/libs.min.js"></script> -->
 <script src="js/jquery.mixitup.min.js"></script>
 <script src="js/jquery-ui.min.js"></script>
 <!-- <script src="js/bootstrap.min.js"></script> -->
 <script src="js/idangerous.swiper.min.js"></script>
 <script src="js/all.js"></script>